In [10]:
import pandas as pd

#### First tackle 'data.xlsx'

In [4]:
excel_file = pd.ExcelFile('data.xlsx')

In [5]:
excel_file.sheet_names

['Sheet0']

In [6]:
df = excel_file.parse('Sheet0')

In [7]:
df.head()

    Country Quarter  Company    Revenue
0  Bulgaria  2020Q2    Apple  15.049732
1  Bulgaria  2020Q2  Bullitt   0.043980
2  Bulgaria  2020Q2      HMD   2.604022
3  Bulgaria  2020Q2    Honor   1.030942
4  Bulgaria  2020Q2   Huawei  20.704771

In [8]:
df.describe()

           Revenue
count   828.000000
mean     17.920343
std      72.202902
min       0.001494
25%       0.323618
50%       1.109595
75%       7.930275
max    1170.686911

In [9]:
df.isnull().sum()

Country    0
Quarter    0
Company    0
Revenue    0
dtype: int64

#### Then tackle exchange.xlsx

In [11]:
excel_file = pd.ExcelFile('exchange.xlsx')

In [12]:
excel_file.sheet_names

['Sheet0']

In [13]:
df = excel_file.parse('Sheet0')

In [14]:
df.head()

    Country Quarter  Company    Revenue
0  Bulgaria  2020Q2    Apple  15.049732
1  Bulgaria  2020Q2  Bullitt   0.043980
2  Bulgaria  2020Q2      HMD   2.604022
3  Bulgaria  2020Q2    Honor   1.030942
4  Bulgaria  2020Q2   Huawei  20.704771

In [15]:
df.describe()

           Revenue
count   828.000000
mean     17.920343
std      72.202902
min       0.001494
25%       0.323618
50%       1.109595
75%       7.930275
max    1170.686911

In [16]:
df.isnull().sum()

Country    0
Quarter    0
Company    0
Revenue    0
dtype: int64