In [10]:
import pandas as pd

#### First tackle 'data.xlsx'

In [32]:
excel_file = pd.ExcelFile('data.xlsx')

In [33]:
excel_file.sheet_names

['Sheet0']

In [34]:
df = excel_file.parse('Sheet0')

In [35]:
df.head()

    Country Quarter  Company    Revenue
0  Bulgaria  2020Q2    Apple  15.049732
1  Bulgaria  2020Q2  Bullitt   0.043980
2  Bulgaria  2020Q2      HMD   2.604022
3  Bulgaria  2020Q2    Honor   1.030942
4  Bulgaria  2020Q2   Huawei  20.704771

In [36]:
df.describe()

           Revenue
count   828.000000
mean     17.920343
std      72.202902
min       0.001494
25%       0.323618
50%       1.109595
75%       7.930275
max    1170.686911

In [37]:
df.isnull().sum()

Country    0
Quarter    0
Company    0
Revenue    0
dtype: int64

How many quarters does the dataset have?

In [38]:
df['Quarter'].unique()

array(['2020Q2', '2020Q3', '2020Q4', '2020Q1'], dtype=object)

In [43]:
df['Company'].unique()

array(['Apple', 'Bullitt', 'HMD', 'Honor', 'Huawei', 'Lenovo',
       'LG Electronics', 'Others', 'Samsung', 'Sony', 'TCL', 'Xiaomi',
       'DORO', 'realme', 'Aligator', 'ASUS', 'Google', 'HTC', 'Maxcom',
       'myPhone (EU)', 'OnePlus', 'Vodafone', 'Archos', 'Doogee', 'Navon',
       'BQ (RU)', 'Inoi', 'Jinga', 'Meridian Mobile', 'OPPO', 'teXet',
       'TP-Link', 'Transsion', 'vivo', 'Black Shark', 'EMPORIA',
       'Kruger&Matz', 'Meizu', 'Orange', 'Ark', 'BlackView', 'DEXP',
       'Digma', 'Haier', 'Irbis', 'Maxvi', 'MTS', 'nubia', 'Panasonic',
       'Prestigio', 'RugGear', 'TPV', 'Vertex', 'ZTE', 'Tesla', 'Wiko',
       'Energizer', 'Assistant', 'Astro', 'Ergo', 'Nomi', 'NOUS', 'Sigma',
       'TWOE', 'Ulefone', 'Verico', 'Tele2', 'Rezone', 'MobiWire',
       'Vingroup', 'Razer'], dtype=object)

In [46]:
df.groupby('Company').sum().reset_index()

         Company      Revenue
0           ASUS     8.788730
1       Aligator     3.548647
2          Apple  4380.231341
3         Archos     0.258329
4            Ark     0.314726
..           ...          ...
66  myPhone (EU)     6.642021
67         nubia     0.302853
68        realme   155.640848
69         teXet    21.244648
70          vivo    72.792508

[71 rows x 2 columns]

#### Then tackle exchange.xlsx

In [20]:
excel_file = pd.ExcelFile('exchange.xlsx')

In [21]:
excel_file.sheet_names

['Sheet1']

In [22]:
df = excel_file.parse('Sheet1')

In [23]:
df.head()

          Country Currency  Annual Rate
0        Bulgaria      BGN      1.71576
1         Croatia      HRK      6.61243
2  Czech Republic      CZK     23.21134
3         Hungary      HUF    307.88492
4      Kazakhstan      KZT    414.10104

In [24]:
df.describe()

       Annual Rate
count    11.000000
mean     87.420205
std     141.211684
min       0.876940
25%       2.806550
50%      23.211340
75%      87.734790
max     414.101040

In [26]:
df.isnull().sum()

Country        0
Currency       0
Annual Rate    0
dtype: int64